@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700');

$body-font: sans-serif;

html {
    font-size: 16px;

    @media only screen and (max-height: 900px) {
        font-size: 14px;
    }

    @media only screen and (max-height: 600px) {
        font-size: 12px;
    }
}

body {
    font-size: 100%;
    font-family: $body-font;
}
