{{ "{%" }} load static {{ "%}" }}
{{ "{%" }} load compress {{ "%}" }}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
        <title>{{ "{%" }} block title {{ "%}" }}{{ "{%" }} endblock {{ "%}" }}</title>
        <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
            crossorigin="anonymous">
        </script>
        {{ "{%" }} compress css {{ "%}" }}
        <link rel="stylesheet" href="{{ '{%' }} static 'style/main.scss' {{ '%}' }}" type="text/x-scss" media="screen">
        {{ "{%" }} endcompress {{ "%}" }}
    </head>

    <body class="{{ '{%' }} block bodyclass {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}">
        {{ "{%" }} block content {{ "%}" }}{{ "{%" }} endblock {{ "%}" }}
        {{ "{%" }} compress js {{ "%}" }}
        <script type="text/jsx" src="{{ '{%' }} static 'script/app.js' {{ '%}' }}"></script>
        {{ "{%" }} endcompress {{ "%}" }}
    </body>
</html>
